@import 'tailwindcss';

@font-face {
	font-family: 'MesloLGS NF';
	src: url('/fonts/MesloLGS-NF-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MesloLGS NF';
	src: url('/fonts/MesloLGS-NF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* Dark scrollbars for the entire UI */
* {
	scrollbar-width: thin;
	scrollbar-color: #404040 transparent;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #404040;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #525252;
}
